{% load crispy_forms_tags %}

<div class="post">
    <h4>Comentario nuevo</h4>
        <form method="POST"  class="post-form">{% csrf_token %}<!-- Es cuestion de seguridad, para que no te esten bombardeando los formulariosS -->
            {{ form | crispy }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
</div>

 {% for comments in comments %}
    <div class="post">
        <p>{{ comments.text }}</p>
        <div class="date">
            <p>Creado: {{ comments.created_date }}</p>
        </div>
    </div>
{% endfor %}