{% load crispy_forms_tags %}

{% if request.user.is_authenticated %}
    <div class="post">
        <h4>Comentario nuevo</h4>
            <form method="POST"  class="post-form" id="new-comment">{% csrf_token %}<!-- Es cuestion de seguridad, para que no te esten bombardeando los formulariosS -->
                {{ form | crispy }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
    </div>
{% endif %}

 {% for comment in comments %}
    <div class="post">
        <p>{{ comment.text }}</p>
        <div class="date">
            <p>Creado: {{ comment.created_date }}</p>
        </div>
        <div>
            <a href="#" id="set_like_{{ comment.pk }}" class="like_btn glyphicon glyphicon-thumbs-up"></a><span id="val_likes_{{ comment.pk }}">{{ comment.likes }}</span>
            |
            <a href="{% url 'comment_dislike' pk=comment.pk %}" id="set_dislikes_{{ comment.pk }}" class="dislike_btn glyphicon glyphicon-thumbs-down"></a><span id="val_dislikes_{{ comment.pk }}">{{ comment.dislikes }}</span>
        </div>
    </div>
{% endfor %}