{% extends 'blog/base.html' %}

{% block content %}
		<div class="content container">
        <div class="row">
            <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                        <h1><a href="">{{ post.title }}</a></h1>
                        <p>{{ post.text|linebreaks }}</p>
                    </div>
            </div>
        </div>
    </div>
        
        <a href="{% url 'post_edit' pk=post.pk %}">Editar Post</a>
        <a href="{% url 'post_list' %}">Volver</a>

    

 {% endblock %}
