{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
        <div class="row">
            <div class="col-md-8">
                <div class="post">
                    <div class="date">
                        <p>Publicado: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaks }}</p>
                    <hr>
                    <h2>Comentarios</h2>

                    <div class="post">
                        <h4>Comentario nuevo</h4>
                        <form method="POST"  class="post-form">{% csrf_token %}<!-- Es cuestion de seguridad, para que no te esten bombardeando los formulariosS -->
                            {{ form | crispy }}
                            <button type="submit" class="save btn btn-default">Save</button>
                        </form>
                    </div>

                    {% for comments in comments %}
                        <div class="post">
                            <p>{{ comments.text }}</p>
                            <div class="date">
                                <p>Creado: {{ comments.created_date }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <a href="{% url 'post_edit' pk=post.pk %}">Editar Post</a> | 
        <a href="{% url 'post_list' %}">Volver</a>

    

 {% endblock %}
