{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
        <div class="row">
            <div class="col-md-8">
                <div class="post">
                    <div class="date">
                        <p>Publicado: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaks }}</p>
                    {% if user.is_authenticated %}
                        {% if user == post.author or user.is_superuser %}
                        <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">Editar Post</a> | <a class="btn btn-primary" href="{% url 'post_delete' pk=post.pk %}">Borrar Post</a> | <a class="btn btn-primary" href="{% url 'post_list' %}">Volver</a>
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'post_list' %}">Volver</a>
                        {% endif %}
                    {% else %}
                        <a href="#" class="btn btn-primary disabled" role="button">Editar Post</a> | <a href="#" class="btn btn-primary disabled" role="button">Borrar Post</a> | <a class="btn btn-primary" href="{% url 'post_list' %}">Volver</a>
                    {% endif %}
                    <hr>
                    <h2>Comentarios</h2>

                    {% include 'blog/snippets/comments.html' %} <!-- Utilizamos esto para poder reutilizar el bloque de los comentarios que hemos metido en snippets, son como recortes que podemosincluir en otras paginas -->
                </div>
            </div>
        </div>

 {% endblock %}
