{% extends 'blog/base.html' %}

{% block content %}  
        <!--<p>{{ posts }}</p>  Etiqueta de django, se debe definir un diccionario en views.py cuando creas el metodo que te retorne el html, en la parte de {} -->
    {% for p in posts %}

        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h2><a href="{% url 'post_detail' pk=p.pk %}">{{ p.title }}</a></h2>
                <p>{{ p.published_date }}</p>
            </div>
            <div class="col-md-8 col-xs-12">
                <p>{{ p.text|upper }}</p>
            </div>
        </div>
        <hr>
        

        
     {% endfor %}
 {% endblock %}
