body {
	padding-left: 15px;
}

h1 a, h2 a {
	color: #FCA205;
	font-family: 'Lobster';
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    font-size: 26pt;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.log, .log:active, .log:hover, .log:link, .log:visited {
    float: right;
    color: black;

}

.navbar {
    height: 100px;
}
