{% extends 'base.html' %}

{% block content %}  
        <h1>Sobre mí</h1>
        <p>Nam a posuere ipsum, ut efficitur eros. Ut gravida facilisis ipsum. Cras eget mi tortor. Aenean risus enim; ornare eu sapien in, accumsan imperdiet neque? In hac habitasse platea dictumst. Proin felis metus, facilisis vitae neque vitae; euismod porta odio? Donec vel leo ut nisi imperdiet sollicitudin. Morbi maximus ligula vitae lacus rutrum efficitur. Donec dictum pulvinar ligula in viverra fusce.
        Nam a posuere ipsum, ut efficitur eros. Ut gravida facilisis ipsum. Cras eget mi tortor. Aenean risus enim; ornare eu sapien in, accumsan imperdiet neque? In hac habitasse platea dictumst. Proin felis metus, facilisis vitae neque vitae; euismod porta odio? Donec vel leo ut nisi imperdiet sollicitudin. Morbi maximus ligula vitae lacus rutrum efficitur. Donec dictum pulvinar ligula in viverra fusce.
        Nam a posuere ipsum, ut efficitur eros. Ut gravida facilisis ipsum. Cras eget mi tortor. Aenean risus enim; ornare eu sapien in, accumsan imperdiet neque? In hac habitasse platea dictumst. Proin felis metus, facilisis vitae neque vitae; euismod porta odio? Donec vel leo ut nisi imperdiet sollicitudin. Morbi maximus ligula vitae lacus rutrum efficitur. Donec dictum pulvinar ligula in viverra fusce.
        </p>
{% endblock %}
